.card {
  width: 70vw;
  height: 60vh;
  border: 2px solid;
  padding: 1em;
  margin-bottom: 2em;
  margin-right: 2em;
  img {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    object-fit: contain;
    margin-bottom: 1em;
  }
  figcaption {
    h3 {
      margin-bottom: 1em;
    }
  }
}
