<figure class="card">
  <img
    [src]="
      data?.img ||
      'https://res.cloudinary.com/swssr/image/upload/v1605819519/tlea1enicro59lbyvycy.jpg'
    "
    [alt]="data?.name"
  />
  <figcaption>
    <h3>{{ data?.name }}</h3>
    <p>
      {{ data?.description || data?.cuisine }} <br />
      <span *ngIf="data?.seatsAvailable"
        ><strong>{{ data?.seatsAvailable }}</strong> Open Seats</span
      >
      <span *ngIf="data?.price"
        ><strong>R{{ data?.price }}</strong></span
      >
    </p>
    <button (click)="handleBuy(data)">
      {{ data?.seatsAvailable ? "COMMING SOON" : "BUY!" }}
    </button>
  </figcaption>
</figure>
