<main>
  <header>
    <div class="greeting"><strong>Hello</strong> There</div>
    <p>How do you want to eat today?</p>
  </header>
  <div class="tab-wrapper">
    <div class="tabs">
      <div
        *ngFor="let tab of tabs"
        class="tab"
        (click)="setTab(tab)"
        [ngClass]="{ 'tab--active': activeTab === tab }"
      >
        {{ tab }}
      </div>
    </div>
    <div class="tab-content" *ngIf="activeTab === 'Order In'">
      <div class="list">
        <app-card *ngFor="let data of menu" [data]="data"></app-card>
      </div>
      <div class="spacer spacer--mid"></div>
    </div>
    <div class="tab-content" *ngIf="activeTab === 'Restaurant'">
      <div class="list">
        <app-card
          *ngFor="let restaurant of restaurants"
          [data]="restaurant"
        ></app-card>
      </div>
    </div>

    <div class="tab-content" *ngIf="activeTab === 'Customize'">
      <div class="banner">
        <h5>Comming Soon!</h5>
      </div>
    </div>
  </div>
</main>

<app-dialog *ngIf="modalData" [data]="modalData"></app-dialog>

<app-nav-bottom></app-nav-bottom>
