main {
  position: relative;
  padding: 1.5em;
  padding-top: 3em;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
header {
  margin-bottom: 2em;
}
.greeting {
  font-size: 32px;
}
.tab-wrapper {
  display: flex;
  width: 100vw;
  .tabs {
    display: flex;
    height: 100%;
    padding-right: 0.5em;
    background-image: linear-gradient(to right, #fff, rgba(#fff, 0.00001));
    writing-mode: vertical-lr;
    .tab {
      transform: rotate(180deg);
      margin-top: 5vh;
      border-left: 4px solid transparent;
      opacity: 0.66;
      padding: 0.1em;
      font-size: 16px;

      &--active {
        border-color: red;
        opacity: 1;
      }
    }
  }
}
.tab-content {
  display: flex;
  height: max-content;
  overflow: hidden;

  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.list {
  display: flex;
  width: max-content;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding-left: 3em;
  margin-left: -2em;
  & > * {
    flex-shrink: 0;
  }
}
.banner {
  width: 70vw;
  height: 60vh;
  background-color: #c2c2c244;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  margin-left: 1em;
  padding: 1em;
  p {
    font-size: 14px;
  }
}
.btn {
  width: 70%;
  padding: 0.2em;
  &--primary {
    background-color: #000;
  }
}
.popup {
  position: fixed;
  width: 70vw;
  height: 20vh;
  background-color: #000;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 1000;
  display: flex;
  padding: 1em;
  flex-direction: column;
}
.popup ~ * {
  // filter: brightness(0.8);
  opacity: 0.56;
}
