<dialog *ngIf="alert" class="popup" open>
  <h4>Alert</h4>
  <p>{{ alert }}</p>
</dialog>

<main (click)="removeAlert()">
  <header>
    <div class="greeting"><strong>Hello</strong> There</div>
    <p>How do you want to eat today?</p>
  </header>
  <div class="tab-wrapper">
    <div class="tabs">
      <div
        *ngFor="let tab of tabs"
        class="tab"
        (click)="setTab(tab)"
        [ngClass]="{ 'tab--active': activeTab === tab }"
      >
        {{ tab }}
      </div>
    </div>
    <div class="tab-content" *ngIf="activeTab === 'Order In'">
      <div class="list">
        <app-card *ngFor="let data of menu" [data]="data"></app-card>
      </div>
      <div class="spacer spacer--mid"></div>
    </div>
    <div class="tab-content" *ngIf="activeTab === 'Restaurant'">
      <div class="list">
        <app-card
          *ngFor="let restaurant of restaurants"
          [data]="restaurant"
        ></app-card>
      </div>
    </div>

    <div class="tab-content" *ngIf="activeTab === 'Customize'">
      <div class="banner">
        <h5>Donations!</h5>
        <p>
          Be the solution to solving world hunger. Kindly donate R20 for those
          who are less fortunate.
        </p>
        <button (click)="handleDonate()" class="btn btn--primary">
          DONATE
        </button>
      </div>
    </div>
  </div>
</main>

<app-dialog *ngIf="modalData" [data]="modalData"></app-dialog>

<app-nav-bottom></app-nav-bottom>
