* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  font-size: 14px;
}
button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.2em 1em;
  margin-top: 1em;
}

//
@import "./styles/animations.scss";
